#death-timer-countdown
  text-align: center
  position: absolute
  margin: -100px 400px
  font: 20px Orbitron
  background-color: black
  color: yellow

#table, th, td
  border: 2px solid black
  border-collapse: collapse

#container
  position: relative
  width: 480px
  height: 480px
  margin: 0 auto
  align-content: center
  border: 2px solid black
  float: left

#teammates-table
  position: relative
  width: 200px
  height: 100px
  margin: 0 auto
  text-align:center
  float: left
  padding: 10px
  font: 20px Orbitron

#score
  position: relative
  width: 300px
  height: 110px
  margin: auto
  text-align:center
  float: left
  padding: 10px
  font: 20px Orbitron

#teammates td
  width: 50px
  height: 50px
  padding: 5px

#ready
  position: absolute
  margin: -100px 360px
  font: 16px Orbitron